<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat</title>
</head>
<body>
    <h1>Room - welcome to video chat application</h1>
    <a href="./sender/sender.html" target="_blank">Sender</a>
    <a href="./receiver/receiver.html" target="_blank">receiver</a> 
</body>
</html>